/* estilo base */
body {
    padding              : 0;
    margin               : 0;
    background           : #585757 url(/media/imagens/bgGrad.gif) repeat-x scroll 0 0;
    background-attachment: fixed;
    
}
.conteudo {
    display         : block;
    background-color: white;
    margin-top      : 150px;
    /*height: 100% !important;*/
}

.corpo {
    background-color: white;
    display         : block;
    /*height          : 100%;*/
    left            : 45%;
    margin-left     : -380px;
    position        : absolute;
    width           : 923px;
}

.topo {
    display         : block;
    height          : 150px;
    left            : 45%;
    margin-left     : -380px;
    position        : fixed;
    width           : 923px;
    background-color: white;
    z-index:4;
}

.logo {
    background : transparent url('/media/imagens/pythoncampusNSI.png') no-repeat;
    width: 400px;
    height: 117px;
    position   : absolute;
    left       : 50%;
    top        : 0;
    margin-left: -200px;
    z-index    : 5;
}

.navegacao {
    background-color   : #669933;
    display            : block;
    height             : 80px;
    left               : 50%;
    line-height        : normal;
    list-style-image   : none;
    list-style-position: outside;
    list-style-type    : none;
    margin-left        : -495px;
    padding            : 0;
    position           : absolute;
    top                : 50px;
    white-space        : nowrap;
    width              : 987px;
    z-index            : 2;
    border-right       : 1px solid white;
}

.navegacao li {
    background-color: #669933;
    display         : block;
    float           : left;
    height          : 80px;
    width           : 163px;
    border-left     : 1px solid white;
}

.navegacao li a {
    color          : white;
    display        : block;
    height         : 80px;
    left           : 0;
    line-height    : 120px;
    position       : relative;
    text-align     : center;
    text-decoration: none;
    width          : 163px;
    font-variant   : small-caps;
    font-weight    : bold;
}
.navegacao li:hover {
    background-image: url(/media/imagens/bgmenu_ativo.png);
}

.cantoD , .cantoE {
    display : block;
    position: absolute;
    top     : 145px;
    height  : 20px;
    width   : 33px;
}

.cantoD {
    background: transparent url("/media/imagens/cantoD.png") no-repeat;
    width: 33px;
    height: 32px;
    right: -32px;
}

.cantoE {
    background: transparent url("/media/imagens/cantoE.png") no-repeat;
    width: 33px;
    height: 32px;
    left: -32px;
}

.titulo_pagina {
    padding-left:7px;
    padding-top: 20px;
    font-size:xx-large;
    /*border-bottom:1px solid #eeeeee;*/
}

.subtitulo_pagina {
    padding-left:5px;
    font-size:large;
    width:auto;
    color:#da2827;
    font-weight: bold;
    /*border-bottom:1px solid #eeeeee;*/
}

.imagem_principal {
    border-right: 1px dotted #da2827;
}

.rodape {
    background-color: #669933;
    color: #ffffff;
    padding:5px;
    text-align:center;
    clear:left;
}

.imagem_principal {
    background: #ffffff url("/media/imagens/garotapythoncampus.png") no-repeat;
    width: 335px;
    height: 449px;
}

/* fim do estilo base */

/* estilo formulario inscrição */

.formulario_div {
    padding : 5px;
}

.campo_div {
    padding:3px;
}

.campo_erro {
    color: #da2827;
    font-weight: bold;
}

/* fim estilo formulario inscrição */

/* estilo programação */
.informacoes_minicursos {
    padding: 5px;
}

.cabecalho_lista_minieventos {
    background: #ffffff url(/media/imagens/minievento_background.png) no-repeat;
    margin-left: 2px;
    padding-top:15px;
    padding-left:10px;
    font-size: x-large;
    height:35px;
    border-bottom: 1px dotted #669933;
}

.informacoes_minicursos a {
    text-decoration:none;
    color:#669933;
}

.dia {
    float: left;
    width: 100%;
    min-height: 250px;
    position: relative;
    height: 100% !important;
    /*border-bottom: 1px solid #da2827;*/
    background-color: white;
    z-index:0;
}

.palestras {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 400px;
    width: 450px !important;
    border-right: 1px solid #da2827;
}

.minicursos {
    margin-top: 7px !important;
    margin-right: 5px !important;
    margin-left: 410px !important;
    position: absolute;
    right: 0pt;
    top: 37pt;
    width: 450px !important;
    z-index:0;
}

.minicursos_subtitulo, .palestras_subtitulo {
    border-bottom: 1px  dotted #669933;
    border-left: 1px  solid #669933;
    margin-right: 5px;
    padding-left:5px;
    background-color: #669933;
    color: #ffffff;
}

.minievento{
    padding-left:5px;
    padding-top: 5px;
    margin-bottom: 15px;
    border-bottom: 1px dotted #669933;
    border-left: 1px solid #669933;
    z-index:3;
}

.minievento_atributo {
    color: #000000;
    font-size: 11pt;
}

.minievento_atributo .label{
    /*color: #669933;*/
    font-weight: bold;
}

.minievento_atributo a{
    color:#669933;
}

/* fim estilo programação */

/* estio pagina equipe */

.equipe {
    padding-left: 5px;
    z-index:0;
}

.funcao {
    border-left: 1px solid #669933;
    border-right: 1px solid #669933;
    border-bottom: 1px solid #669933;
    margin-bottom: 4px;
    margin-right:5px;
}

.funcao_titulo {
    border-top: 1px solid #669933;
    background-color: #669933;
    color: #ffffff;
    padding-left: 2px;
    /*margin-right:2px;*/
}

.membro {
    border-top: 1px solid #669933;
    padding: 2px;
}