/* estilo base */
body {
    padding              : 0;
    margin               : 0;
    background           : #585757 url(/media/imagens/bgGrad.gif) repeat-x scroll 0 0;
    background-attachment: fixed;
    font-family: verdana;
}
.conteudo {
    display         : block;
    background-color: white;
    /*margin-top      : 150px;*/
    height: 100%;
}

.corpo {
    background-color: white;
    display         : block;
    height          : auto;
    left            : 50%;
    margin-left     : -380px;
    position        : absolute;
    width           : 760px;
}

#asn-warning {
    z-index:1000;
    height: 60px;
    font-size: medium !important;
    color: #da2827 !important;
}

.topo {
    display         : block;
    height          : 140px;
    left            : 50%;
    margin-left     : -381px;
    /*position        : fixed;*/
    width           : 760px;
    /*background-color: white;*/
    z-index:4;
}

#asn-warning {
    z-index:1000;
    height: 60px;
    font-size: medium !important;
    color: #da2827 !important;
}

.logo {
    background : url('/media/imagens/sitelogop.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 400px;
    height: 110px;
    position   : absolute;
    left       : 50%;
    top        : 0px;
    margin-left: -200px;
    z-index    : 5;
}

/* Fix IE.*/
* html .navegacao {
    top: 65px;
}

* html .topo {
    background-color: transparent;
    /*position        : fixed;*/
    height: auto;
}
/* end */

.navegacao {
    background-color   : #669933;
    display            : block;
    height             : 80px;
    left               : 50%;
    line-height        : normal;
    list-style-image   : none;
    list-style-position: outside;
    list-style-type    : none;
    margin-left        : -409px;
    padding            : 0px;
    position           : absolute;
    top                : 50px;
    *top               : 65px; /* IE 7 Hack - Maldito IE */
    white-space        : nowrap;
    width              : 818px;
    z-index            : 2;
    border-right       : 1px solid white;
}

.navegacao li {
    background-color: #669933;
    display         : block;
    float           : left;
    height          : 80px;
    width           : 135px;
    border-left     : 1px solid white;
}

.navegacao li a {
    color          : white;
    display        : block;
    height         : 80px;
    left           : 0px;
    top            : 0px;
    line-height    : 120px;
    position       : relative;
    text-align     : center;
    text-decoration: none;
    width          : 135px;
    font-variant   : small-caps;
    font-weight    : bold;
    overflow: hidden;
}
.navegacao li:hover {
    background-image: url(/media/imagens/bgmenu_ativo.png);
    background-color: #669933;
}

.cantoD , .cantoE {
    display : block;
    position: absolute;
    top     : 145px;
    height  : 20px;
    width   : 33px;
}

.cantoD {
    background-image: url("/media/imagens/cantoD.png");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 29px;
    height: 32px;
    right: -29px;
    top: 142px !important;
}

* html .cantoD {
    right: -29px;
}

.cantoE {
    background-image: url("/media/imagens/cantoE.png");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 32px;
    left: -30px;
}

.titulo_pagina {
    _margin-top: 150px;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 20px;
    font-size:xx-large;
    border-bottom:1px solid #669933;
}

.subtitulo_pagina {
    padding-left:5px;
    font-size:large;
    width:auto;
    color: #ff0000;
    font-weight: bold;
    /*border-bottom:1px solid #eeeeee;*/
}

.imagem_principal {
    /*border-top: 1px solid #669933;*/
    /*border-right: 1px solid #669933;*/
    margin-top: 30px;
    _margin-top: 180px !important;
    background-color: #ffffff;
    background-image: url("/media/imagens/garotapythoncampus.png");
    background-repeat: no-repeat;
    width: 335px;
    height: 449px;
    float:left;
}

.rodape {
    background-color: #669933;
    color: #ffffff;
    padding:5px;
    padding-bottom: 0px !important;
    text-align:center;
    clear:left;
    font-size: small;
}

.links_rodape {
    float:left;
    width:450px;
    height:20px;
    text-align:right;
}

.links_rodape a{
    text-decoration:none;
    color:#ffffff;
    font-size: small;
}

/* fim do estilo base */

.texto_pagina_principal {
    /*border-left: 1px solid #669933;*/

    _margin-top: 180px !important;
    margin-left: 335px;
    padding-left: 7px;
    padding-top: 80px;
}


/* estilo formulario inscrição */

.formulario_div {
    padding : 5px;
}

.campo_div {
    padding:3px;
}

.campo {
    
}

.campo_erro {
    color: #da2827;
    font-weight: bold;
}

/* fim estilo formulario inscrição */

/* Estilo página de sucesso inscrição */

.sucesso_inscricao {
    height: 380px;
    padding-top: 20px;
}

.mensagem_sucesso {
    padding-left: 7px;
    font-size: xx-large;
}

.mensagem_agradecimento {
    padding-left: 7px;
    font-size: large;
}

.aviso, .aviso_404 {
    padding-left: 7px;
    font-size: large;
    color: #ff0000;
}

.aviso_minicurso {
    padding-left: 7px;
    font-size: 10pt;
    color: #ff0000;
    text-decoration: underline;
}

/* Fim estilo pagina de sucesso inscriçao*/

/* estilo programação */
.informacoes_minicursos {
    padding: 5px;
}

.cabecalho_lista_minieventos {
    background-image: url(/media/imagens/minievento_background.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    margin-left: 2px;
    margin-right: 5px;
    padding-top:15px;
    padding-left:10px;
    font-size: x-large;
    height:35px;
    border-bottom: 1px dotted #669933;
}

.informacoes_minicursos a {
    text-decoration:none;
    color:#669933;
}

.dia {
    width: 100%;
    min-height: 200px;
    position: relative;
    height: 100% !important;
    /*border-bottom: 1px solid #da2827;*/
    background-color: white;
    z-index:0;
    margin-bottom: 5px;
}

.palestras {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 360px;
    width: 370px !important;
    /*border-right: 1px solid #da2827;*/
}

.minicursos {
    margin-top: 7px !important;
    margin-right: 5px !important;
    margin-left: 370px !important;
    position: absolute;
    right: 0pt;
    top: 37pt;
    width: 370px !important;
    z-index:0;
    float: left;
}

.minicursos_subtitulo, .palestras_subtitulo {
    border-bottom: 1px  dotted #669933;
    border-left: 1px  solid #669933;
    margin-right: 0px;
    padding-left:5px;
    padding-top:2px;
    background-color: #669933;
    color: #ffffff;
}

.palestras_subtitulo {
    margin-right: 5px !important;
}

.minievento{
    padding-left:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #669933;
    border-left: 1px solid #669933;
    z-index:3;
}

.minievento_atributo {
    color: #000000;
    font-size: 11pt;
}

.minievento_atributo .label{
    /*color: #669933;*/
    font-weight: bold;
}

.minievento_atributo a{
    color:#669933;
}

/* fim estilo programação */

/* estio pagina equipe */

.equipe {
    margin-top: 5px;
    padding-left: 7px;
    z-index:0;
    min-height:400px;
}

.funcao {
    border-left: 1px solid #669933;
    border-right: 1px solid #669933;
    border-bottom: 1px solid #669933;
    margin-bottom: 4px;
    margin-right:7px;
}

.funcao_titulo {
    border-top: 1px solid #669933;
    background-color: #669933;
    color: #ffffff;
    padding-left: 2px;
    /*margin-right:2px;*/
}

.membro {
    border-top: 1px solid #669933;
    padding: 2px;
}

/* fim estio equipe */

/* estilo ministrante */

.div_principal_ministrante {
    padding-top: 30px;
    min-height: 370px;
}

.ministrante {
    border-left: 1px solid #669933;
    border-right: 1px solid #669933;
    border-bottom: 1px solid #669933;
    margin-bottom: 4px;
    margin-right:7px;
    margin-left: 7px;
    /*position: relative;*/
}

.ministrante_titulo {
    border-top: 1px solid #669933;
    background-color: #669933;
    color: #ffffff;
    padding-left: 2px;
    font-weight: bold;
}

.ministrante_foto {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    /*width: 25%;*/
    float: left;
}
.ministrante_foto img {
    /*width: 100px;*/
    height: 120px;
}

.ministrante_infos {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*padding-left: 10px;*/
    /*min-height: 120px;*/
    /*position:absolute;*/
    /*top: 20px;*/
    /*margin-right: 0pt;*/
    /*float: left;*/
    /*border-left: 1px solid #669933;*/
}
.nome_ministrante {
    font-size: xx-large;
    padding-left: 5px;
    text-decoration: underline;
}

.detalhe_ministrante {
    padding-left: 5px;
    margin-bottom: 5px;
}

.detalhe_ministrante a {
    text-decoration: none;
    color:#669933;
}

/* Fim estilo palestrante*/

/* estilo da página local */
.map_div {
    width:750px;
    height: 400px;
    margin: 5px;
}

/* Fim estilo página local*/

 /* Estilo página equipe site */
 
 .titulo_pagina_equipe_site {
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 20px;
    font-size:xx-large;
    border-bottom:1px solid #669933;
 }
 
 .desenvolvedor {
    margin-top: 2px;
    padding-left: 7px;
    font-size: large;
 }

.selo_django_powered {
    padding-top:5px;
    text-align: right;
    margin-right: 0px;
}

.info_ministrante {
	display: block;
}

.404_principal {
  min-height: 380px;
}

.voltar a {
    color:#669933;
    margin-left: 5px;
}
