{% extends "pagina_base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/funcoes.js">
    </script>
{% endblock scripts %}
{% block conteudo %}    
    <div class="titulo_pagina">Informações Cadastrais</div>
    <div class="formulario_div">
        <form action="" method="post">
            <div class="campo_div">
                <fieldset>
                    <legend>{{ form.nome.label_tag }}:</legend>
                    <div class="campo">{{ form.nome }}</div>
                    <div class="campo_erro">{{ form.nome.errors }}</div>
                </fieldset>
            </div>
            <div class="campo_div">
                <fieldset>
                    <legend>{{ form.instituicao.label_tag }}:</legend>
                    <div class="campo">{{ form.instituicao }}</div>
                    <div class="campo_erro">{{ form.instituicao.errors }}</div>
                </fieldset>
            </div>
            <div class="campo_div">
                <fieldset>
                    <legend>{{ form.cpf.label_tag }}:</legend>
                    <div class="campo">{{ form.cpf }}</div>
                    <div class="campo_erro">{{ form.cpf.errors }}</div>
                </fieldset>
            </div>
            <div class="campo_div">
                <fieldset>
                    <legend>{{ form.email.label_tag }}:</legend>
                    <div class="campo">{{ form.email }}</div>
                    <div class="campo_erro">{{ form.email.errors }}</div>
                </fieldset>
            </div>
            <div class="aviso_minicurso">
                Para participar apenas das palestras, deixe o campo abaixo em branco e clique em " Confirmar inscrição ".
            </div>
            <div class="campo_div">
                <fieldset>
                    <legend>{{ form.minicurso.label_tag }}:</legend>
                    <div class="campo">{{ form.minicurso }}</div>
                    <div class="campo_erro">{{ form.minicursos.errors }}</div>
                </fieldset>
            </div>
            <div class="aviso">
               Caso escolha algum minicurso, para confirmar sua vaga, traga 1kg de arroz, feijão ou macarrão para cada minicurso no qual você estiver inscrito até 26/11/2009.
            </div>
            <div class="campo">
                <input type="submit" value=" Confirmar inscrição " />
            </div>
        </form>
    </div>
    <script type="text/javascript">
        adicionar_padronizador_cpf();
    </script>
    <div class="informacoes_minicursos">
        Para informações acerca dos minicursos acesse a página da <a href="/programacao">programação</a>.
    </div>
{% endblock conteudo %}