<div class="page_title">Palestras</div>
<div class="eventos_div">
        {% for palestra in object_list%}
            <div class="palestra_div">
                Título: <span class="titulo">{{ palestra.nome }}</span><br/>
                Descrição: <span class="descricao">{{ palestra.descricao }}</span>,<br/>
                Público-alvo: <span class="publico_alvo">{{ palestra.publico_alvo}}</span><br/>
                Data: <span class="data">{{ palestra.data}}</span><br/>
                Horário: <span class="hora">{{ palestra.horario}}</span><br/>
                Palestrante:
                <span class="palestra">
                   <a class="info_ministrante" href="/ministrante/{{palestra.ministrante.id}}">
                      {{ palestra.ministrante}}
                   </a>
                </span><br/>
            </div>
        {% endfor %}    
</div>

