{% extends "pagina_base.html" %}

{% block conteudo %}
    <div class="titulo_pagina">Programação</div>
    <div class="dia">
        <div class="cabecalho_lista_minieventos">
            Dia 27/11
        </div>
        <div class="lista_minievento">
            {% for palestra in palestras_dia_27 %}
                <div class="minievento">
                    <div class="minievento_atributo">
                        <span class="label">Horário:</span>{{ palestra.minievento.horario|time:"H:i"}}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Título:</span>{{ palestra.minievento.nome }}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Descrição: </span>{{ palestra.minievento.descricao|linebreaksbr }}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Público-alvo:</span>{{ palestra.minievento.publico_alvo}}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Ministrante:
                        <a class="info_ministrante" href="/ministrante/{{palestra.palestrante.id}}">
                          {{ palestra.palestrante}}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="lista_minievento">
            {% for minicurso in minicursos_dia_27 %}
                <div class="minievento">
                    <div class="minievento_atributo">
                        <span class="label">Horário:</span>{{ minicurso.minievento.horario|time:"H:i"}}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Título:</span>{{ minicurso.minievento.nome }}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Descrição: </span>{{ minicurso.minievento.descricao|linebreaksbr }}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Público-alvo:</span>{{ minicurso.minievento.publico_alvo}}
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Ministrante:
                        <a class="info_ministrante" href="/ministrante/{{minicurso.ministrante.id}}">
                          {{ minicurso.minievento.ministrante}}
                        </a>
                    </div>
                    <div class="minievento_atributo">
                        <span class="label">Vagas Disponíveis:</span>{{ minicurso.vagas_disponiveis}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock conteudo %}