{% extends "pagina_base.html" %}

{% block conteudo %}
    <div class="sucesso_inscricao">
        <div class="mensagem_sucesso">
            Sua inscrição foi realizada com sucesso!
        </div>
        <div class="aviso">
           Atenção! Para garantir sua vaga nos minicursos, traga 1kg de arroz, feijão ou macarrão para cada minicurso no qual você estiver inscrito até 26/11/2009. O local de confirmação e arrecadação é no NSI - Núcleo de Sistemas de Informação (Sala 133, Bloco A), localizado no IFF Campos - Campus Centro (Antigo Cefet Campos), das 14:00 às 19:00 hs
        </div>
        <div class="mensagem_agradecimento">
            Estamos felizes pelo seu interesse em nosso evento!
        </div>
    </div>
{% endblock conteudo %}