{% extends "pagina_base.html" %}

{% block conteudo %}
    <div class="equipe">
        <div class="titulo_pagina">Desenvolvedores do Site</div>
        <div class="funcao">
            <div class="funcao_titulo">
                Design
            </div>
            <div class="membro">
                Gustavo Rezende
            </div>
            <div class="membro">
                Vinícius Chagas
            </div>
        </div>
        <div class="funcao">
            <div class="funcao_titulo">
                Construção do Site e Sistema de Inscrição
            </div>
            <div class="membro">
                Vanderson Mota
            </div>
            <div class="membro">
                Vinícius Chagas
            </div>
        </div>
    </div>
{% endblock conteudo %}