{% extends "pagina_base.html" %}

{% block conteudo %}
    <div class="imagem_principal"></div>
    <div class="texto_pagina_principal">
        <div class="titulo_pagina">
            Bem vindo(a)!
        </div>
        <div class="texto">
            <p>
                <strong>PythOnCampus</strong> é uma iniciativa da comunidade pythonrio e tem como
                objetivo a divulgação da linguagem python.
            </p>
            <p>
                Periodicamente a comunidade se reune em alguma instituição de ensino
                para divulgar as novidades do python e as tend&ecirc;ncias do mundo
                do desenvolvimento de software.
            </p>
            <p>
                Nos dias 27 e 28 de Novembro, o NSI (Núcleo de Pesquisa em Sistemas de Informação)
                trará o <strong>PythOnCampus</strong> para o IF Fluminense (Instituto Federal Fluminense).
            </p>
            <p>
                O evento será realizado no <strong>campus Campos-Centro do IF Fluminense, na rua Dr. Siqueira, 273 - Pq. Dom Bosco, Campos dos Goytacazes.</strong>
            </p>
        </div>
    </div>
{% endblock conteudo %}