{% extends "pagina_base.html" %}

{% block conteudo %}
    <div class="imagem_principal"></div>
    <div class="texto_pagina_principal">
        <p>
            Nos dias 27 e 28 de Novembro, o NSI (Núcleo de Pesquisa em Sistemas de Informação)
            trará o <strong>PythOnCampus</strong> para o IF Fluminense (Instituto Federal Fluminense).
        </p>
        <p>
            O evento será realizado no <strong>campus Campos-Centro do IF Fluminense, na rua Dr. Siqueira, 273 - Pq. Dom Bosco, Campos dos Goytacazes.</strong>
        </p>
    </div>
{% endblock conteudo %}