<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
    <head>
        <title>..:: PythOnCampus IFF ::..</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}estilo/estilo_base.css"/>
        {% block scripts %}
        {% endblock scripts %}
    </head>
    <body>
        <div class="corpo">
            <div class="topo">
                <div class="logo">&nbsp;</div>
                <ul class="navegacao">
                    <li>
                        <a href="/">Página Inicial</a>
                    </li>
                    <li>
                        <a href="/programacao">Programação</a>
                    </li>
                    <li>
                        <a href="/inscricao">Inscrição</a>
                    </li>
                    <li>
                        <a href="/local">Local</a>
                    </li>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>
                    <li>
                        <a href="/equipe">Equipe</a>
                    </li>
                </ul>
                <div class="cantoE"></div>
                <div class="cantoD"></div>
            </div>
            <div class="conteudo">
                {% block conteudo %}

                {% endblock conteudo %}
            </div>
            <div class="rodape">
                NSI - IF Fluminense - Núcleo de Pesquisa em Sistemas de Informação
                
                <div class="links">
                    <a href="/equipe/">Equipe NSI</a> |
                    <a href="/equipe_site/">Equipe do Site</a>
                </div>
                <div class="aviso_ie">
                    Para o bem da internet, este site não se preocupa em ser
                    compatível com o navegador Internet Explorer.
                </div>
            </div>
        </div>
    </body>
</html>

